@using Foundation.Library.Enums
@model StudentProfileView

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLTE.cshtml";
}
@section Title
{
    <title>Profile</title>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-print"></i> Print</a>
                    <a href="#" target="_blank" class="btn btn-sm btn-outline-info"><i class="far fa-id-card"></i> ID Card</a>
                    <a href="#" class="btn btn-sm btn-outline-warning"><i class="fas fa-edit"></i> Edit</a>
                </div>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Student</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- ./Section header -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card card-info">
                        <div class="card-body">
                            <div class="text-center">
                                <img class="profile-user-img img-circle" src="@Model.ImagePath">
                            </div>
                            <h3 class="profile-username text-center">@Model.Name</h3>
                            <p class="text-muted text-center">@Model.CourseModel.Title</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item" style="background-color: #FFF">
                                    <b>Registration No.</b> <a class="pull-right">@Model.RegistrationModel.RegistrationNo</a>
                                </li>
                                <li class="list-group-item" style="background-color: #FFF">
                                    <b>ID Card No.</b> <a class="pull-right">@Model.RegistrationModel.IdCardNo</a>
                                </li>
                                <li class="list-group-item" style="background-color: #FFF">
                                    <b>Phone</b> <a class="pull-right">@Model.MobileNo</a>
                                </li>
                                <li class="list-group-item" style="background-color: #FFF">
                                    <b>Email</b> <a class="pull-right">@Model.Email</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" aria-current="page" href="#information">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#subject">Subjects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#attendance">Attendance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#marks">Marks &amp; Result</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#invoices">Invoice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#payments">Payment</a>
                            </li>
                        </ul>
                        <div class="mt-3 tab-content">
                            <div class="tab-pane active" id="information">
                                <p class="text-info" style="font-size: 16px; border-bottom: 1px solid #eee;">Personal Info:</p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Full Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.Name</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Date of Birth</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.DateOfBirth.ToShortDateString()</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Gender</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.Gender.ToString()</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Religion</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.Religion.ToString()</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Blood Group</label>
                                    </div>
                                    <div class="col-md-3">
                                        @{var bloodType = EnumHelper<BloodGroup>.GetDisplayValue(Model.BloodGroup);}
                                        <p for="">: @bloodType</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Nationality</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.Nationality</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Email</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.Email</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Phone No.</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.MobileNo</p>
                                    </div>
                                </div>
                                <p class="text-info" style="font-size: 16px; border-bottom: 1px solid #eee;">Parents Info:</p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Father Name </label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.ParentsInfo.FatherName</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Father Phone No.</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.ParentsInfo.FatherMobileNo</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Mother Name </label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.ParentsInfo.MotherName</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Mother Phone No.</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.ParentsInfo.MotherMobileNo</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Guardian Name </label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.ParentsInfo.GuardianName</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Guardian Phone No.</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.ParentsInfo.GuardianMobileNo</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Present Address </label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">
                                            : @Model.PresentAddress
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Permanent Address</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">
                                            : @Model.PermanentAddress
                                        </p>
                                    </div>
                                </div>
                                <p class="text-info" style="font-size: 16px; border-bottom: 1px solid #eee;">Academic Info:</p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Academic Year</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.AcademicYearModel.Title</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Registration No </label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.RegistrationModel.RegistrationNo</p>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Class</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.CourseModel.Title</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Section </label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.SectionModel.Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Roll No.</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.RegistrationModel.RollNo</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Shift</label>
                                    </div>
                                    <div class="col-md-3">
                                        @{var shift = EnumHelper<ShiftType>.GetDisplayValue(Model.RegistrationModel.Shift);}
                                        <p for="">: @shift</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Board Registration No.</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.RegistrationModel.BoardRegistrationNo</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Card No.</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.RegistrationModel.IdCardNo</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Username</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">: @Model.UserName</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Status</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p for="">
                                            :
                                            @if (Model.RegistrationModel.Status == true)
                                            {
                                                <span class="bg-green badge">Active</span>
                                            }
                                            else
                                            {
                                                <span class="bg-green badge">In Active</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="subject">
                                <table id="subjectTable" class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Code</th>
                                            <th class="text-center">Type</th>
                                            <th class="text-center">Exclude In Result</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.SubjectModels)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Code</td>
                                                <td>@item.Type</td>
                                                <td>@item.ExcludeInResult</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="attendance">
                                <table id="attendanceTable" class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">20/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-green">Present</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">21/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-green">Present</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">22/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-green">Present</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">23/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-green">Present</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">24/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-red">Absent</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">25/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-green">Present</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">27/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-green">Present</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">28/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-green">Present</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">29/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-green">Present</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">30/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-red">Absent</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">31/03/2021</td>
                                            <td class="text-center"> <span class="badge bg-red">Absent</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">01/04/2021</td>
                                            <td class="text-center"> <span class="badge bg-red">Absent</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">03/04/2021</td>
                                            <td class="text-center"> <span class="badge bg-green">Present</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="marks">
                                <h4 class="title text-info">1st Term Exam</h4>
                                <table class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr>
                                            <td rowspan="2" class="text-center">Subject</td>
                                            <td rowspan="2" class="text-center">Code</td>
                                            <td colspan="3" class="text-center">Marks</td>
                                            <td rowspan="2" class="text-center">Total Marks</td>
                                            <td rowspan="2" class="text-center">Grade</td>
                                            <td rowspan="2" class="text-center">Point</td>
                                        </tr>
                                        <tr>
                                            <td>Written</td>
                                            <td>MCQ</td>
                                            <td>Practical</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Bangla 1st</td>
                                            <td>101</td>
                                            <td>19</td>
                                            <td>9</td>
                                            <td>0</td>
                                            <td>28</td>
                                            <td>F</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>Bangla 2nd</td>
                                            <td>102</td>
                                            <td>32</td>
                                            <td>2</td>
                                            <td>0</td>
                                            <td>34</td>
                                            <td>A-</td>
                                            <td>3.50</td>
                                        </tr>
                                        <tr>
                                            <td>English 1st</td>
                                            <td>107</td>
                                            <td>28</td>
                                            <td>2</td>
                                            <td>0</td>
                                            <td>30</td>
                                            <td>F</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>English 2nd</td>
                                            <td>108</td>
                                            <td>3</td>
                                            <td>10</td>
                                            <td>0</td>
                                            <td>13</td>
                                            <td>F</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>Math</td>
                                            <td>111</td>
                                            <td>23</td>
                                            <td>5</td>
                                            <td>0</td>
                                            <td>28</td>
                                            <td>F</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>Computer</td>
                                            <td>112</td>
                                            <td>12</td>
                                            <td>19</td>
                                            <td>8</td>
                                            <td>39</td>
                                            <td>F</td>
                                            <td>0.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">Result</td>
                                            <td>138</td>
                                            <td>F</td>
                                            <td>0.50</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="tab-pane" id="invoices">
                                <table id="invoiceTable" class="table table-bordered table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Invoice No.</th>
                                        <th class="text-center">Amount</th>
                                        <th class="text-center">Paid</th>
                                        <th class="text-center">Due</th>
                                    </tr>
                                    </thead>
                                    <tbody><tr><td>29/03/2021</td><td>INV-001</td><td>1488.00</td>
                                        <td>1368.00</td><td>120.00</td></tr><tr><td>03/04/2021</td><td>INV-017</td><td>4726.00</td>
                                        <td>4726.00</td><td>0.00</td></tr><tr><td>03/04/2021</td><td>INV-022</td><td>60.00</td>
                                        <td>60.00</td><td>0.00</td></tr></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="payments">
                                <table id="paymentTable" class="table table-bordered table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Method</th>
                                        <th class="text-center">Referance</th>
                                        <th class="text-center">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody><tr><td>29/03/2021</td><td>Cash</td>
                                        <td></td><td>1368.00</td></tr><tr><td>03/04/2021</td><td>Cash</td>
                                        <td></td><td>4726.00</td></tr><tr><td>03/04/2021</td><td>Cash</td>
                                        <td></td><td>60.00</td></tr></tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>