@using Foundation.Library.Enums
@model List<StudentMarks>
@{
    var numberOfColumn = Model[0].StudentMark.Count;
    var count = 1;
}

<div>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Student Name</th>
                <th>Roll No</th>
                @foreach (var header in Model[0].StudentMark)
                {
                    <th>@header.Type</th>
                }
                <th>Total Marks</th>
                <th>Present</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@count</td>
                    <td>@Model[i].StudentName</td>
                    <td>@Model[i].RollNo</td>
                    @for(var j = 0; j < Model[i].StudentMark.Count; j++)
                    {
                <td>
                    <div class="row">
                        <input asp-for="@Model[i].StudentMark[j].Mark" class="form-control" />
                    </div>
                    <div class="row">
                        <input readonly="readonly" asp-for="@Model[i].StudentMark[j].TotalMark" class="form-control col-6" />
                        <input readonly="readonly" asp-for="@Model[i].StudentMark[j].PassMark" class="form-control col-6" />
                    </div>
                </td>
                    }
                <td><input readonly="readonly" id="@Model[i].RollNo" class="form-control"/></td>
                    <td><input asp-for="@Model[i].Present" class="form-control"/></td>
                    <td>Action</td>
                </tr>
            }
        </tbody>
    </table>
</div>