@model WebsiteModel
@{
    ViewData["Title"] = "Home Page";
}

@section HeaderModel
{
    <partial name="_HeaderView" model="Model.Header" />
}

@if (Model.Advertise.IsActive)
{
    <div class="jumbotron text-center">
        <p>@Model.Advertise.Title</p>
    </div>
}

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>Notice Board</h2>
            <ul class="nav nav-pills flex-column">
                @foreach (var notice in Model.Notice.NoticeList)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">@notice.Title</a>
                    </li>
                }
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            @if (Model.Post.PostList != null)
            {
                @foreach (var post in Model.Post.PostList)
                {
                    if (post.IsActive)
                    {
                        <h2>@post.Title</h2>
                        <h5>@post.CreateDate.ToString("MM/dd/yyyy hh:mm tt")</h5>
                        <p>@post.Description</p>
                        <br>
                    }
                }
            }
        </div>
    </div>
</div>

@if (Model.Footer.ShowCopyrightText)
{
    <div class="p-2 jumbotron text-center">
        <p class="p-0 m-0">@Model.Footer.Copyright</p>
    </div>
}
